.slider {
    width: 40%;
    padding: 0 10px;
    margin: auto;

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0px;
        height: 60px;
        width: 100px;
        background-image: url('https://m.media-amazon.com/images/I/51nvOoDzt7S._AC_SL1200_.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

        &.slick-prev {
            left: 0;
            transform: translateX(-100%);
        }
        &.slick-next {
            right: 0;
            transform: translateX(100%);
        }
        &.slick-disabled {
            opacity: 0;
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 100%;
        border: 5px solid rgb(0, 0, 0);
        image-rendering: pixelated;
    }

}

body {
    background-color: lightgray;
    background-image: url('https://i.pinimg.com/originals/b7/ac/c7/b7acc7a9ca1f7cc7ea122b0d05a923e4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.basicInfo {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 20px;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
}

.stats {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(238, 236, 121);
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    article {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        h3 {
            width: 200px;
            text-transform: capitalize;
        }
        div {
            border-radius: 50px;
            background-color: gray;
            width: 100%;

        }
        p {
            border-radius: 50px;
            background-color: red;
            text-align: center;
            color: white;
            height: 100%;
        }
    }
}

.abilities {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(193, 238, 121);
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    p {
        margin: 0 10px;
        padding: 5px 10px;
        background-color: rgb(92, 48, 10);
        border-radius: 5px;
        text-transform: capitalize;
        color: white;
    }
}